@model IEnumerable<WebApp.Models.Feedback>
@using WebApp.Services
@{
    ViewBag.Title = ResourceProvider.GetResource("Feedback");
}
<div class="container-fluid crud-container">
    <ol class="breadcrumb wow slideInDown">
        <li><a asp-area="eCore" asp-action="Index" asp-controller="Deals">@ResourceProvider.GetResource("Deals")</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="row">
        @foreach (var Feedback in Model)
        {
            <div class="col-md-3">
                <div class="panel panel-primary wow slideInDown">
                    <div class="panel-heading">
                        <div style="text-align:right">
                            <a style="color:#fff" asp-area="eCore" asp-controller="Feedbacks" asp-action="Details" asp-route-id="@Feedback.Id"><span class="glyphicon glyphicon-eye-open"></span></a> |
                            <a style="color:#fff" asp-area="eCore" asp-controller="Feedbacks" asp-action="Edit" asp-route-id="@Feedback.Id"><span class="glyphicon glyphicon-pencil"></span></a> |
                            <a style="color:#fff" asp-area="eCore" asp-controller="Feedbacks" asp-action="Delete" asp-route-id="@Feedback.Id"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>

                    </div>
                    <div class="panel-body">
                        <p><span class="glyphicon glyphicon-user"></span> <b>@Feedback.Name</b></p>
                        <p><span class="glyphicon glyphicon-phone-alt"></span> @Feedback.Phone</p>
                        <hr style="border: 0.5px solid #808080; margin-top: 0px; margin-bottom: 5px;" />
                        <p><span class="glyphicon glyphicon-share-alt"></span> @Feedback.Message</p>
                        @if (@Feedback.Product != null)
                        {
                            <p><span class="glyphicon glyphicon-shopping-cart"></span> @Feedback.Product.Name</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
