@model IEnumerable<WebApp.Models.Product>

@{
    ViewData["Title"] = "Компания Пиломир";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        
        <div class="col-md-5"><div class="huge-text"><p><h1><b>Широкий ассортимент</b></h1></p></div></div>
        <div class="col-md-3"></div>
    </div>
</div>
<br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-link"></span> Каталоги</div>                
                <table class="table">
                    @{
                        foreach (var catalog in ViewBag.Catalogs)
                        {
                            var productCount = 0;
                            foreach (var product in Model)
                            {
                                if (product.CatalogId == catalog.Id)
                                {
                                    productCount += 1;
                                }
                            }
                            <tr>
                                <td>
                                    <a href="#" @*asp-action="Offer" asp-route-id="@catalog.Id"*@>@catalog.Name <span class="badge">@productCount</span> </a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>          
        </div>
        <div class="col-md-9 products">
            <br/>
            <div class="container-fluid">
                @{
                    var itemCount = 0;

                    while (itemCount < 3)
                    {
                        foreach (var product in Model)
                        {
                            if (itemCount == 0)
                            {
                                @:<div class="row">
                            }
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img src="https://react-bootstrap.github.io/assets/thumbnaildiv.png" alt="Image">
                                    <div class="caption">

                                        @if (product.Name.Length > 45)
                                        {
                                            <h4>@product.Name.Substring(0, 45)...</h4>
                                        }
                                        else
                                        {
                                            <h4>@product.Name</h4>
                                        }
                                        <p>Цена: <b><em>@product.Price
                                                @{if (product.Currency.Name == "RUB")
                                                    {
                                                        <span class="glyphicon glyphicon-ruble"></span>
                                                    }
                                                    else if (product.Currency.Name == "EUR")
                                                    {
                                                        <span class="glyphicon glyphicon-euro"></span>
                                                    }
                                                    else if (product.Currency.Name == "DOL")
                                                    {
                                                        @:Долларов

                                                    }
                                                    else
                                                    {
                                                        @product.Currency.Name

                                                    }
                                                }</em></b> 
                                        </p>
                                        @if (product.Description.Length > 80)
                                        {
                                            <p>@product.Description.Substring(0, 80)...</p>
                                        }
                                        else
                                        {
                                            <p>@product.Description</p>

                                        }
                                        <p><a href="#" @*asp-route-id="@product.Id"*@ class="btn btn-primary btn-block" role="button">Заказать Сейчас</a></p>

                                        <p><a href="#" @*asp-route-id="@product.Id"*@ class="btn btn-info btn-block" role="button">Подробнее</a></p>
                                    </div>
                                </div>

                            </div>

                            itemCount++;
                            if ((itemCount % 3) == 0)
                            {
                                @:</div>
                            }
                        }
                    }
                    itemCount = 0;
                }
            </div>
        </div>
    </div>
</div>