@model WebApp.Models.User

@{
    ViewBag.Title = "Удалить пользователя " + Model.FirstName + " "+ Model.LastName;
}
<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Главная</a></li>
    <li><a asp-action="Index" asp-controller="Users">Пользователи</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">Пользователь @Model.FirstName @Model.LastName</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">ID: @Model.Id</li>
                <li class="list-group-item">Имя: @Model.FirstName</li>
                <li class="list-group-item">Отчество: @Model.Patronymic</li>
                <li class="list-group-item">Фамилия: @Model.LastName</li>
                <li class="list-group-item">Роль: @Model.Role.Name</li>
                <li class="list-group-item">Логин: @Model.Login</li>
                <li class="list-group-item">Пароль: @Model.Password</li>
            </ul>
        </div>
    </div>
    <form asp-action="Delete" method="post">
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Удалить" />
        </div>
        <a asp-action="Index" class="btn btn-primary btn-lg btn-block" role="button">Назад</a>
    </form>

</div>