@model WebApp.Models.Company
@using WebApp.Services
@{
    ViewBag.Title = Model.Name;
}
<br />
<div class="container">
    <ol class="breadcrumb">
        <li><a asp-area="" asp-action="Index" asp-controller="Home">@ResourceProvider.GetResource("Home")</a></li>
        <li><a asp-area="eCore" asp-action="Index" asp-controller="Companies">@ResourceProvider.GetResource("Companys")</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-trash"></span> @ResourceProvider.GetResource("ConfirmDelete")</div>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">@ResourceProvider.GetResource("Company") </th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th scope="row">@ResourceProvider.GetResource("Phone") </th>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <th scope="row">@ResourceProvider.GetResource("Address") </th>
                        <td>@Model.Address</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="@ResourceProvider.GetResource("Delete")" />
            </div>
            <a asp-action="Index" asp-area="eCore" asp-controller="Companies" class="btn btn-primary btn-lg btn-block" role="button">@ResourceProvider.GetResource("Back")</a>
        </form>
    </div>
</div>
