@using WebApp.Services
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="wrap">
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        @{
                            if (User.IsInRole("Administrator"))
                            {                         
                                <li><a asp-area="" asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span> @ResourceProvider.GetResource("Home")</a></li>
                                <li><a asp-area="eCore" asp-controller="Deals" asp-action="Index"><span class="glyphicon glyphicon-fire"></span> @ResourceProvider.GetResource("Deals")</a></li>                                
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-phone-alt"></span> @ResourceProvider.GetResource("Contacts") <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-action="Index" asp-controller="Contacts"><span class="glyphicon glyphicon-flag"></span> @ResourceProvider.GetResource("Clients")</a></li>
                                        <li><a asp-action="Index" asp-controller="Companies"><span class="glyphicon glyphicon-briefcase"></span> @ResourceProvider.GetResource("Companies")</a></li>  
                                    </ul>
                                </li> 
                                @*<li><a asp-action="Index" asp-controller="Tasks"><span class="glyphicon glyphicon-calendar"></span> @ResourceProvider.GetResource("Tasks")</a></li>*@
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cloud"></span> @ResourceProvider.GetResource("CMS") <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-area="Administration" asp-action="Index" asp-controller="Sections"><span class="glyphicon glyphicon-th-large"></span> @ResourceProvider.GetResource("Sections")</a></li>
                                        <li><a asp-area="Administration" asp-action="Index" asp-controller="SubSections"><span class="glyphicon glyphicon-th"></span> @ResourceProvider.GetResource("SubSections")</a></li>
                                        <li><a asp-area="Administration" asp-action="Index" asp-controller="Products"><span class="glyphicon glyphicon-object-align-right"></span> @ResourceProvider.GetResource("Products")</a></li>
                                        <li><a asp-area="Administration" asp-action="Index" asp-controller="Users"><span class="glyphicon glyphicon-user"></span> @ResourceProvider.GetResource("Users")</a></li>
                                        <li><a asp-area="Administration" asp-action="Index" asp-controller="Roles"><span class="glyphicon glyphicon-sunglasses"></span> @ResourceProvider.GetResource("Roles")</a></li>
                                        <li><a asp-area="Administration" asp-action="Index" asp-controller="Currencies"><span class="glyphicon glyphicon-piggy-bank"></span> @ResourceProvider.GetResource("Currencies")</a></li>
                                        <li><a asp-area="Administration" asp-action="Index" asp-controller="Units"><span class="glyphicon glyphicon-apple"></span> @ResourceProvider.GetResource("Units")</a></li>
                                        <li><a asp-area="Administration" asp-action="Index" asp-controller="Froms"><span class="glyphicon glyphicon-share-alt"></span> @ResourceProvider.GetResource("Froms")</a></li>
                                        <li><a asp-area="Administration" asp-action="Index" asp-controller="Resources"><span class="glyphicon glyphicon-text-size"></span> @ResourceProvider.GetResource("Resources")</a></li>
                                        <li><a asp-area="Administration" asp-action="Index" asp-controller="Languages"><span class="glyphicon glyphicon-globe"></span> @ResourceProvider.GetResource("Languages")</a></li>
                                    </ul>
                                </li>                              
                            }
                            else if (User.IsInRole("Employee"))
                            {
                                <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
                                <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-object-align-right"></span> Каталог</a></li>
                                <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
                                <li><a asp-action="Logout" asp-controller="Login"><span class="glyphicon glyphicon-user"></span> Выйти [Сотрудник: @User.Identity.Name]</a></li>
                            }
                            else if (User.IsInRole("Customer"))
                            {
                                <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
                                <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-object-align-right"></span> Каталог</a></li>
                                <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
                                <li><a asp-action="Logout" asp-controller="Login"><span class="glyphicon glyphicon-user"></span> Выйти [Клиент: @User.Identity.Name]</a></li>
                            }

                            else
                            {
                                <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
                                <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-object-align-right"></span> Каталог</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-off"></span>  eCore <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-action="Index" asp-controller="Login"><span class="glyphicon glyphicon-user"></span> Войти</a></li>
                                        <li><a asp-action="Registration" asp-controller="Login"><span class="glyphicon glyphicon-check"></span> Зарегистрироваться</a></li>
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> @ResourceProvider.GetResource("PersonalAccount") <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-action="Logout" asp-controller="Account" asp-area=""><span class="glyphicon glyphicon-user"></span> @ResourceProvider.GetResource("Logout"): @User.Identity.Name</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    </div>
    <div class="footer">
        <div class="container">
            <p>© 2018 Компания «Пиломир». Все права защищены | Design by <a href="https://github.com/honeyskylark" class="a-footer">Asylgareev Rustam</a></p>
        </div>
    </div>
</body>
</html>
