@model IEnumerable<WebApp.Models.SubSection>

@{
    ViewData["Title"] = "Подразделы";
}

<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Главная</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>


<div class="form-group">
    <a class="btn btn-primary btn-lg btn-block" asp-action="Create" role="button">Добавить Подраздел</a>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"><span class="glyphicon glyphicon-link"></span> Подразделы</div>
    <table class="table">
        <tr>
            <th>Подраздел</th>
            <th>Раздел</th>
            <th>Действия</th>
        </tr>

        @foreach (var subsec in Model)
        {
            <tr>
                <td>@subsec.Name</td>
                <td>@subsec.Section.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@subsec.Id"><span class="glyphicon glyphicon-eye-open"></span></a> |
                    <a asp-action="Edit" asp-route-id="@subsec.Id"><span class="glyphicon glyphicon-pencil"></span></a> |
                    <a asp-action="Delete" asp-route-id="@subsec.Id"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </table>
</div>