@model WebApp.Models.Contact
@using WebApp.Services
@{
    ViewBag.Title = ResourceProvider.GetResource("Adding");
}
<div class="container crud-container">
    <ol class="breadcrumb">
        <li><a asp-area="eCore" asp-action="Index" asp-controller="Deals">@ResourceProvider.GetResource("Deals")</a></li>
        <li><a asp-area="eCore" asp-action="Index" asp-controller="Contacts">@ResourceProvider.GetResource("Clients")</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="container-fluid">
        <form asp-action="Create">
            <div class="panel panel-primary">
                <div class="panel-heading">@ResourceProvider.GetResource("Adding")</div>
                <div class="panel-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label">@ResourceProvider.GetResource("FirstName")</label>
                        <input type="text" asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Patronymic" class="control-label">@ResourceProvider.GetResource("Patronymic")</label>
                        <input type="text" asp-for="Patronymic" class="form-control" />
                        <span asp-validation-for="Patronymic" />
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">@ResourceProvider.GetResource("LastName")</label>
                        <input type="text" asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label">@ResourceProvider.GetResource("Phone")</label>
                        <input type="text" asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label">@ResourceProvider.GetResource("Address")</label>
                        <input type="text" asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CompanyId" class="control-label">@ResourceProvider.GetResource("Company")</label>
                        <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">@ResourceProvider.GetResource("Add")</button>
            </div>
            <a asp-action="Index" asp-area="eCore" asp-controller="Contacts" class="btn btn-primary btn-lg btn-block" role="button">@ResourceProvider.GetResource("Back")</a>
        </form>
    </div>
</div>
  